@font-face {
  font-family: myFont;
  src: url(mariana/mariana.ttf);
}

$txt-principal: #ffffff;
$txt-second: #9e92f6;
$hover: #ee6777;
$principal-background: #d7d2ff;
$second-background: #ffffff;
$gradient-1: #9e92f6;
$gradient-2: #ee6777;
$gradient-3: #ea5c6d;
$gradient-4: #e7bb8c;
$second_gradient-1: #e35b6b;
$second_gradient-2: #e9c197;
$second_gradient-3: #9083f7;
$third-gradient-1: #9083f7;
$third-gradient-2: #e35b6b;
$third-gradient-3: #9083f7;
$third-gradient-4: #ea5c6d;

//-----------------------------------------------ALL-------------------------

a:hover{
  cursor: pointer;
}

*{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: $txt-principal;
  width: 100%;
  scroll-behavior: smooth;
}

h1{
  font-size: 70px;
  font-family: myFont;
}

h2{
  color: $txt-second;
  font-size: 40px;
  font-family: myFont;
}

h4{
  display: flex;
  justify-content: center;
  gap: 10px;
  color: $txt-second;
}


h5{
  color: $txt-second;
  font-size: 16px;
}

/* ------------------------------HEADER---------------------------------------*/

 #header{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: linear-gradient(45deg, $gradient-3,$gradient-1,$gradient-4, $gradient-2); 
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color{

  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px;
  font-size: 20px;

  a {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 5px;
    text-decoration: none;

    &:hover {
      
        color: $hover;
      
    }
  }
}

.title-container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;

    p {
      font-size: 30px;
    }
} 

/*-----------------------------------------ABOUT ME-------------------------------------------*/

 #about-me {
  display: flex;
  padding: 20px;
  min-height: 650px;
  background-color: $principal-background;

  .photo {
    display: flex;
    align-items: center;
    max-width: 500px;
    padding-top: 100px;

    img {
      display: flex;
      align-items: center;
      height: 600px;
      width: 450px;
      padding: 30px;
    }

  }
  
  
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
      display: flex;
      justify-content: center;
    }

    p{
      min-width: 200px;
      padding-top: 50px;
      font-size: 23px;
    } 

  }
  
}



/*-----------------------------------------------SKILLS-------------------------------------------------------*/

 #skills {
  padding: 20px;
  display: flex;
  max-height: 500px;

  .skills {
    display: flex;
    flex-direction: column;

    h2 {
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;

        li{
          color: $txt-second;
        } 
    }
  
  }
  
}




/*----------------------------------------------PROJETS---------------------------------------------------------*/

 #projets{
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(20deg, $second_gradient-1, $second_gradient-2, $second_gradient-3);
  background-size: 300% 300%;
  display: flex;
  flex-direction: column;

    h2{
      color: $txt-principal;
      display: flex;
      justify-content: center;
      padding: 50px;
    }
    
    .projets{
      display: flex;
      padding: 20px;
      justify-content: center;
      gap: 10px;

      p{
        text-align: center;
      } 

      .projet{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

          img{
            height: 370px;
            max-width: 270px;
          }
      }

    }
}

/*---------------------------------------------------------------FORMATION---------------------------------------*/

#formations{
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding: 20px;

    
  h2{
    display: flex;
    justify-content: center;
  }

  .formation{
    display: flex;
    color: $txt-second;
    gap: 5px;
    padding-left: 100px;

    .logo-formation{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 150px;
      max-height: 200px;

      img{
        height: 90px;
        width: 90px;
      }
    }

    .descriptif-formation{
      color: $txt-second;
      padding: 20px;

      p{
        color: $txt-second;
        font-size: 13px;
      }
      
      li{
        font-size: 12px;
        color: $txt-second;
      }
      
      ul{
      padding-left: 20px;
      } 

    }
    
  }

}

/*--------------------------------------------------LANGUES--------------------------------------------------*/

 #langues{
  background-color: $principal-background;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 250px;

  h2{
    color: $txt-principal;
    display: flex;
    justify-content: center;
  }
  
  h5{
    color: $txt-principal;
    font-size: 20px;
  }
  
  p{
    font-size: 15px;
  }
  
  .langue{
    display: flex;
    gap: 10px;
    padding: 30px;
    padding-left: 250px;

    .descriptif-langue{
      gap: 10px;
    
    }

  }

}

/*-------------------------------------------------------------CONTACTEZ-MOI-------------------------------------------------*/

#contactez-moi{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(50deg, $third-gradient-1, $third-gradient-2, $third-gradient-3, $third-gradient-4);
  background-size: 300% 300%;

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  } 

}


/*------------------------------------------------------------------CONTACTS----------------------------------------------------------*/

footer{
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  padding-left: 150px;

  .contact{
    line-height: 50px;

    p{
      color: $txt-second;
    }

    i{
      display: flex;
      color: $txt-second;
      font-size: 30px;
    } 

    &__logo{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 49px;
      gap: 10px;

    }
    
  }
  
}


/*-----------------------------------------------------------------BREAKPOINT TABLETTE---------------------------------------------------*/

@media  screen and (max-width: 992px){

  div.projet{
    flex-wrap: wrap;
  }

  #langues{
    .langue{
      padding-left: inherit;
    }
} 

  footer#contacts{
    padding-left: 80px;
  }
  
}

@media  screen and (max-width: 768px) {

  #about-me{
    flex-direction: column-reverse;

    .photo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 30px;
    }
  
    .royan{
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
    }
  }

  section.projets{
    flex-direction: column;

    .projet{
      flex-direction: inherit;
    }
  }

  #contacts{
    padding-left: 50px;
  }
  
  .description p{
    padding: 20px;
  }

  #skills{
    max-height: inherit;
  }

  #formations{
    max-height: inherit;
  }

}

/*-----------------------------------------------------------------------BREAKPOINT PORTABLE------------------------------------------------------------------------------*/

@media screen and (max-width: 580px){

  #header{
    height: auto;
  }

  
  #skills{
    .skills ul{
    padding-left: 10px;   
    }

  }

  #contactez-moi h1{
    font-size: 50px;
  }


  div.title-container{
    padding-top: 30px;
    padding: 30px;
     
    p{
    font-size: 20px;
    }
  }

  div.formation{
    padding-left: 10px;
  }

  footer{
    flex-direction: column;

    .contact{
      line-height: 20px;
  
      &.logo{
        padding-top: 0;
      }
    }
  }

}


/*-------------------------------------------------------------------------------BREAKPOINT PORTABLE2.0---------------------------------------------*/

@media  screen and (max-width:380px) {

  #skills{
    padding: inherit;

    li{
      list-style: none;
    }
  }
  
}

