
@font-face {
  font-family: myFont;
  src: url(mariana/mariana.ttf);
}

html{
  scroll-behavior: smooth;
}

a:hover{
  cursor: pointer;
}

 *{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: myFont;
  color: white;
  width: 100%;
}

h2{
  color: #9e92f6;
  font-size: 40px;
} 

/* ------------------------------HEADER---------------------------------------*/

 #header{
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg,#ea5c6d,#9e92f6,#e7bb8c, #ee6777); /* #23d5ab */
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color{

  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0;
}

nav a{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 5px;
}

nav a:hover{
  color: #ee6777;
}

.title-container{
  max-width: 600px;
  display: flex;
  justify-content: center;
  padding-top: 130px;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

h1{
  font-size: 70px;
} 

.title-container p{
  font-size: 30px;
}

/*-----------------------------------------ABOUT ME-------------------------------------------*/

 #about-me{
  display: flex;
  padding: 20px;
  min-height: 650px;
  background-color: #d7d2ff;
}

div.photo{
  display: flex;
  align-items: center;
  max-width: 500px;
  padding-top: 100px;
}

.photo img{
  display: flex;
  align-items: center;
  height: 600px;
  width: 450px;
  padding: 30px;
}

div.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description h2{
  display: flex;
  justify-content: center;
}

.description p{
  min-width: 200px;
  padding-top: 50px;
  font-family:'Times New Roman', Times, serif;
  font-size: 23px;
} 

/*-----------------------------------------------SKILLS-------------------------------------------------------*/

 #skills{
  padding: 20px;
  display: flex;
  max-height: 500px;
}

div.skills{
  display: flex;
  flex-direction: column;

}

.skills h2{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.skills ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skills ul{
  padding-left: 100px;
}

li{
  color: #ccc5fe;
} 


/*----------------------------------------------PROJETS---------------------------------------------------------*/

 #projets{
  height: 560;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(20deg,#e35b6b,#e9c197,#9083f7);
  background-size: 300% 300%;
  display: flex;
  flex-direction: column;
}

#projets h2{
  color: white;
  display: flex;
  justify-content: center;
  padding: 50px;
}

section.projets{
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 10px;

}

div.projet img{
  height: 370px;
  max-width: 270px;
}

div.projet{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

h4{
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #9083f7;
}

section.projets p{
  text-align: center;
} 

/*---------------------------------------------------------------FORMATION---------------------------------------*/

#formations{
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding: 20px;
}

#formations h2{
  display: flex;
  justify-content: center;
}

h5{
  color: #9083f7;
  font-size: 16px;
}

div.formation{
  display: flex;
  color: #9e92f6;
  gap: 5px;
  padding-left: 100px;
}

.logo-formation{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 200px;
}

.logo-formation img{
  height: 90px;
  width: 90px;
}

div.descriptif-formation{
  color: #9e92f6;
  padding: 20px;
}

.descriptif-formation p{
  color: #9e92f6;
  font-size: 13px;
}

.descriptif-formation li{
  font-size: 12px;
}

.descriptif-formation ul{
padding-left: 20px;
} 

/*--------------------------------------------------LANGUES--------------------------------------------------*/

 #langues{
  background-color: #d7d2ff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 250px;
}

#langues h2{
  color: white;
  display: flex;
  justify-content: center;
}

#langues h5{
  color: white;
  font-size: 20px;
}

#langues p{
  font-size: 15px;
}

div.langue{
  display: flex;
  gap: 10px;
}

.descriptif-langue{
  gap: 10px;

}

div.langue{
  display: flex;
  padding: 30px;
  padding-left: 250px;
} 

/*-------------------------------------------------------------CONTACTEZ-MOI-------------------------------------------------*/

#contactez-moi{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(50deg,#9083f7,#ee899a,#9e92f6, #d15362);
  background-size: 300% 300%;
}

#contactez-moi h1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} 

/*------------------------------------------------------------------CONTACTS----------------------------------------------------------*/

footer{
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  padding-left: 150px;
}

footer p{
  color: #9083f7;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 49px;
  gap: 10px;
}

div.contact{
  line-height: 50px;
}

div.contact i{
  display: flex;
  color: #9083f7;
  font-size: 30px;
} 

/*-----------------------------------------------------------------BREAKPOINT TABLETTE---------------------------------------------------*/

@media  screen and (max-width: 992px){

  div.projet{
    flex-wrap: wrap;
  }

  div.langue{
    padding-left: inherit;
  }

  footer#contacts{
    padding-left: 80px;
  }
  
}

@media  screen and (max-width: 768px) {

  #about-me{
    flex-direction: column-reverse;
  }

  div.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }

  img.royan{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  section.projets{
    flex-direction: column;
  }

  div.projet{
    flex-direction: inherit;

  }

  div.langue{
    padding-left: 100px;
  }

  #contacts{
    padding-left: 50px;
  }
  
  .description p{
    padding: 20px;
  }

  #skills{
    max-height: inherit;
  }

  #formations{
    max-height: inherit;
  }

}

@media screen and (max-width: 580px){

  #header{
    height: auto;
  }

  div.title-container{
    padding-top: 30px;
    padding: 30px;
  }

  .title-container p{
    font-size: 20px;
  }



  div.formation{
    padding-left: 10px;
  }

  footer{
    flex-direction: column;
  }

  div.contact{
    line-height: 30px;
  }

  div.contact.logo{
    padding-top: 0;
  }

  #skills ul{
    padding-left: 10px;
  }

  div.langue{
    padding-left: 10px;
  }

  #contactez-moi h1{
    font-size: 50px;
  }




}










