
@font-face {
  font-family: myFont;
  src: url(milgnite/Milgnite.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: myFont;
  color: white;
  width: 100%;
}

h2{
  color: #9e92f6;
  font-size: 40px;
}

/* ------------------------------HEADER---------------------------------------*/

#header{
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg,#ea5c6d,#9e92f6,#e7bb8c, #ee6777); /* #23d5ab */
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.title-container{
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

h1{
  font-size: 70px;

}

/*-----------------------------------------ABOUT ME-------------------------------------------*/

#about-me{
  display: flex;
  padding: 20px;
  max-height: 650px;
  background-color: #d7d2ff;
}

div.photo{
  width: 500px;
}

.photo img{
  height: 600px;
  width: 450px;
  padding: 30px;
}

div.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description h2{
  display: flex;
  justify-content: center;
}

.description p{
  min-width: 200px;
  padding-top: 50px;
}

/*-----------------------------------------------SKILLS-------------------------------------------------------*/

#skills{
  padding: 20px;
  display: flex;
  max-height: 450px;
}

div.skills{
  display: flex;
  flex-direction: column;

}

.skills h2{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.skills ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li{
  color: #ccc5fe;
}


/*----------------------------------------------PROJETS---------------------------------------------------------*/

#projets{
  height: 560;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(20deg,#e35b6b,#e9c197,#9083f7); /* #23d5ab */
  background-size: 300% 300%;
  display: flex;
  flex-direction: column;
}

#projets h2{
  color: white;
  display: flex;
  justify-content: center;
  padding: 50px;
}

section.projets{
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 10px;

}

div.projet img{
  height: 370px;
  width: 270px;
  /* display: flex;
  justify-content: center; */
}

div.projet{
  display: flex;
  flex-direction: column;
}

h4{
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #9083f7;
}






